<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.DiaryMapper">
<select id="getDiaryById" resultType="com.example.demo.dto.Diary">
		SELECT *
		FROM diary
		WHERE id=#{id}
	</select>
	<select id="getTotalDiary" resultType="map">
		SELECT *
		FROM diary
	</select>
	<select id="getDiaryListByPageNum" resultType="map">
		select *
		from attachment
		as a left join board 
		as b on a.a_bnumber = b.b_number
		LIMIT #{a_start}, #{a_limit}
	</select>
	<insert id="insertDiary" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO diary (grade, email, text, photo, program, countOfClicked) VALUES
		(#{grade}, #{email}, #{text}, #{photo}, #{program}, #{countOfClicked})
	</insert>
	<update id="updateDiary">
		UPDATE phone set id=#{id}, grade=#{grade}, email=#{email}, text=#{text}, photo=#{photo}, program=#{program}, countOfCLicked=#{countOfCLicked}, timestamp=#{timestamp}
		WHERE id=#{id}
	</update>
	<delete id="deleteDiaryById">
		DELETE FROM diary
		WHERE id=#{id}
	</delete>
	
</mapper>